<% if (theme.cover.logo) { %>
  <img class='logo' src='<%- url_for(theme.cover.logo) %>'/>
<% } else { %>
  <h1 class='title'><%- theme.cover.title ? theme.cover.title : config.title %></h1>
<% } %>
<% if (theme.search.enable === true) { %>
  <div class="m_search">
    <form name="searchform" class="form u-search-form">
      <input type="text" class="input u-search-input" placeholder="<%- theme.cover.search_placeholder %>" />
      <i class="icon fas fa-search fa-fw"></i>
    </form>
  </div>
<% } %>
<div class='menu navgation'>
  <ul class='h-list'>
    <% if (theme.cover.features) { %>
      <% (theme.cover.features || []).forEach(function(value){ %>
        <li>
          <a class="nav home" href="<%= url_for(value.url) %>"
            <% if (value.rel) { %>
              rel="<%- value.rel %>"
            <% } %>
            <% if (value.target) { %>
              target="<%- value.target %>"
            <% } %>
            id="<%= url_for(value.url).replace(/\/|%/g, "")?url_for(value.url).replace(/\/|%/g, ""):"home" %>">
            <i class='<%= value.icon %> fa-fw'></i>&nbsp;<%= __('navbar.'+value.name) == ('navbar.'+value.name) ? value.name : __('navbar.'+value.name) %>
          </a>
        </li>
      <%})%>
    <% } %>
  </ul>
</div>
<br>
<p id="hitokoto">:D 获取中...</p>
<!-- 现代写法，推荐 -->
<!-- 兼容低版本浏览器 (包括 IE)，可移除 -->
<script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
<!--End-->
<script>
  fetch('https://v1.hitokoto.cn')
    .then(function (res){
      return res.json();
    })
    .then(function (data) {
      var hitokoto = document.getElementById('hitokoto');
      hitokoto.innerText = data.hitokoto; 
    })
    .catch(function (err) {
      console.error(err);
    })
</script>
